.portfolio {
  padding: 0 calc((100% - 1280px + 140px)/2) 115px;
}

.portfolio__subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.11;
  margin: 0;
  color: #A0A0A0;
}

.portfolio__list {
  margin: 0;
  padding: 50px 0 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.portfolio__item {
  font-size: 30px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: -.04em;
}

.portfolio__item:not(:last-child) {
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 10px;
}

.portfolio__link {
  text-decoration: none;
  color: #000;
  display: flex;
  justify-content: space-between;
}

.portfolio__link:hover {
  opacity: .7;
}

.portfolio__text {
  margin: 0;
  line-height: 1.66;
}

@media (max-width: 1139px) {
  .portfolio {
    padding: 0 50px 82px;
  }

  .portfolio__item {
    font-size: 28px;
    line-height: 2.14;
  }

  .portfolio__text {
    line-height: 1.78;
  }
}

@media (max-width: 767px) {
  .portfolio {
    padding: 0 14px 70px;
  }

  .portfolio__subtitle {
    font-size: 14px;
    line-height: 1.42;
  }

  .portfolio__list {
    padding: 40px 0 0;
  }

  .portfolio__item {
    font-size: 18px;
    line-height: 1.55;
  }

  .portfolio__item:not(:last-child) {
    padding-bottom: 19px;
  }

  .portfolio__text {
    line-height: 1.55;
  }
}