.header {
  height: 74px;
  padding: 0 calc((100% - 1280px + 140px)/2);
}

.header_theme-blue {
  background-color: #465DFF;
}

@media (max-width: 1200px) {
  .header {
    padding: 0 30px;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 0 14px;
  }
}