.footer {
  padding: 79px calc((100% - 1280px + 140px)/2) 20px;
  background-color: #FAFAFA;
  display: grid;
  grid-template-columns: 48px 1fr 62px;
  grid-template-rows: min-content;
  grid-template-areas:
    "title title title"
    "line line line"
    "text . .";
  justify-items: end;
}

.footer__title {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.21;
  color: #A0A0A0;
  margin: 0;
  text-align: center;
  grid-area: title;
  justify-self: center;
}

.line_footer {
  padding: 19px 0 0;
  border-color: #E8E8E8;
  grid-area: line;
}

.footer__link {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.21;
  text-decoration: none;
  color: #000;
  padding: 20px 0 0;
}

.footer__link:hover {
  opacity: .7;
}

.footer__text {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.21;
  margin: 0;
  color: #000;
  grid-area: text;
  padding: 20px 0 0;
}

@media (max-width: 1139px) {
  .footer {
    padding: 78px 30px 20px;
    background-color: #FFF;
  }
}

@media (max-width: 767px) {
  .footer {
    padding: 79px 10px 20px;
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
    grid-template-areas:
      "title"
      "line"
      "."
      "."
      "text";
    justify-items: center;
  }

  .footer__text {
    font-size: 12px;
    color: #A0A0A0;
    padding-top: 30px;
  }

  .footer__link {
    font-size: 12px;
    padding: 0;
  }

  .footer__link:first-of-type {
    padding: 30px 0 12px;
  }

  .footer__title {
    font-size: 12px;
  }

  .line_footer {
    padding: 21px 0 0;
  }
}