.footer {
  padding: 79px calc((100% - 1280px + 140px)/2) 20px;
  background-color: #FAFAFA;
}

.footer__title {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.21;
  color: #A0A0A0;
  margin: 0;
  text-align: center;
  justify-self: center;
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 19px;
}

.footer__container {
  display: grid;
  grid-template-columns: 48px 1fr;
  justify-items: end;
  padding: 20px 0 0;
  grid-template-areas: 'text .';
}

.footer__links {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.footer__link {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.21;
  text-decoration: none;
  color: #000;
}

.footer__link:hover {
  opacity: .7;
}

.footer__text {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.21;
  margin: 0;
  color: #000;
  grid-area: text;
}

@media (max-width: 1200px) {
  .footer {
    padding: 78px 30px 20px;
    background-color: #FFF;
  }
}

@media (max-width: 767px) {
  .footer {
    padding: 79px 10px 20px;
  }

  .footer__container {
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
    justify-items: center;
    grid-template-areas:
      "."
      "text";
    padding: 30px 0 0;
  }

  .footer__links {
    flex-direction: column;
    gap: 12px;
    align-items: center;
  }

  .footer__text {
    font-size: 12px;
    color: #A0A0A0;
    padding: 30px 0 0;
  }

  .footer__link,
  .footer__title {
    font-size: 12px;
  }

  .line_footer {
    padding: 21px 0 0;
  }

  .footer__item {
    height: 15px;
  }
}